.about-container {
    padding: 4rem;
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.about-content {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.left {
    margin: 5px 10px;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
}

.right {
    margin-left: -100px;
    display: flex;
    flex: 4;
    height: 150px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(252, 228, 201);
    padding: 5px 10px;
}

.name {
    max-width: 150px;
    margin-top: 5px;
    padding: 5px;
}

h1 {
    text-align: center;
    color: rgb(0, 161, 189);
}

.about-pic {
    border-radius: 100%;
    max-width: 100px;
    -moz-box-shadow: 1px 6px 7px #ccc;
    -webkit-box-shadow: 1px 6px 7px #ccc;
    box-shadow: 1px 6px 7px #ccc;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
}

