.plan-container {
    background: #fff;
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.workoutForm {
    background: #fff;
    max-width: 300px;
    display: flex;
    box-shadow: 0 4px 20px rgb(220, 230, 239);
    -webkit-filter: drop-shadow(0 4px 20px rgb(231, 231, 231));
    filter: drop-shadow(0 4px 20px rgb(226, 226, 226));
    border-radius: 10px;
    overflow: visible;
    height: auto;
    justify-content: center;
    align-content: center;
}

.form-content {
    width: 280px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.form-css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercise-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.add-btn {
    border: 0;
    background: transparent;
    justify-content: center;
    color: rgb(255, 129, 32);
    font-size: 15px;
    margin-top: 12px;
    cursor: pointer;
}

.cat {
    display: flex;
    flex-direction: column;
}

.ex {
    width: 120px;
}

.sets {
    width: 60px;
}

.wt {
    width: 35px;
    padding-right: 5px;
}

.lbs {
    width: 40px;
}

.note {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    background: rgb(0, 161, 189);
    border: 0;
    width: 70px;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.submit-btn:hover {
    transition: all 0.3s ease-out;
    opacity: 0.5;
}

.header {
    height: 40px;
    padding: 10px 5px 10px;
    font-size: 14px;
    text-align: center;
    color: rgb(0, 161, 189);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

form {
    align-items: center;
}

label {
    font-size: 10px;
    padding-right: 1px;
}

input {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding-right: 1px;
}

.h1 {
    color: rgb(255, 129, 32);
    font-size: 40px;
}

.p {
    margin-top: 8px;
    color: rgb(0, 161, 189);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
}