.demo-container {
  height: 70vh;
  padding: 4rem;
  background: #fffbf5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.card {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 161, 189);
  border-radius: 4px;
  overflow: hidden;
}

.card-header {
  background-image: url("../sign-in.png");
  height: 250px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid rgb(0, 161, 189);
  padding: 5px 10px;
}

.card-main {
  background: rgb(175, 224, 231);
  height: 50px;
  color: rgb(0, 161, 189);
  display: flex;              /* Children use Flexbox */
  justify-content: center;
  flex-direction: column;     /* Rotate Axis to Vertical */
}

.main-description {
  font-weight: bold;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(0, 161, 189);
}

@media only screen and (max-width: 728px) {
  .cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}