.demo-container {
  height: 70vh;
  padding: 4rem;
  background: #fffbf5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-content {
    display: flex;
  justify-content: space-evenly;
  line-height: 160px;
  text-align: center;
}

.card {
  width: 500px;
  height: 250px;
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
  border: 1px solid #EF9A9A;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-header {
  color: #D32F2F;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 5px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}

h1 {
  text-align: center;
  color: rgb(0, 161, 189);
}

@media only screen and (max-width: 728px) {
  .demo {
    width: 400px;
  }
}