.cards {
  height: auto;
  padding: 4rem;
  background: #fffbf5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentStyle {
  height: 400px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: rgb(175, 224, 231);
}

.demoDiv {
  display: flex;
  justify-content: center;
}
.demo {
  width: 800px;
  align-content: center;
}

h1 {
  text-align: center;
  color: rgb(0, 161, 189);
}

@media only screen and (max-width: 728px) {
  .demo {
    width: 400px;
  }
}