  .hero-container {
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hero-left {
    height: 40vh;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-right {
    display: flex;
    overflow: hidden;
    text-decoration: none;
    height: 60vh;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-top: -120px;
  }

  .left-content > h1 {
    color: rgb(0, 161, 189);
    font-size: 40px;
    margin-top: -120px;
  }

  .left-content > p {
    margin-top: 8px;
    color: #000;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
  }

  .pictures {
    width: 600px;
    display: flex;
    flex-direction: row;
  }

  .BB {
    float: start;
    margin-top: 20px;
    margin-right: 60px;
  }

  .DB {
    margin-left: 200px;
    margin-top: 60px;
  }

  .hero-btns {
    margin-top: 32px;
  }

  .hero-btns .btn {
    margin: 6px;
  }

  .fa-play-circle {
    margin-left: 4px;
  }


  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      height: auto;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      height: auto;
      margin-top: 80px;
    }


    .hero-left {
      margin: 120px 50px 120px;

    }
    .left-content > h1 {
      font-size: 30px;
    }

    .left-content > p {
      font-size: 15px;
    }

    .btn-mobile {
      display: block;
      text-decoration: none;
    }

    .btn {
      width: 100%;
    }
  }