.workoutCard {
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  margin: 40px;
  padding: 10px 30px 0;
  border-radius: 10px;
}

.exerciseItem {
  display: flex;
  border-left: 1px solid rgb(228, 165, 255);
  padding-left: 5px;
  margin: 3px 0;
}

.exerciseItem > span {
  width: 65px;
}

.date {
  text-align: center;
  width: 100%;
  padding: 5px 0 25px;
}

.category {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}